[Unit]
Description=AMI PSME Fabric
Wants=sync-agent-init.service sync-agent-rfgrps.service sync-agent-rffns.service

[Service]
WorkingDirectory=/usr/local/sync-agent/
Type=Forking
ExecStart=/usr/bin/luajit agent.lua
ExecStop=/bin/kill /var/run/sync-agent.pid
Restart=always

[Install]
WantedBy=multiuser.target

